:root {
	--main-color: #0099FF;
	--point-color:#02D3C9;
	--sub-color:#414141
}
h1,h2,h3 {margin:0 !important;}
ul, li, ol {list-style: none;}
a {text-decoration: none !important;}
body {color:#000; font-size: 16px;}